html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: calc(16px + 0.391vw);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
